
.mass-results-container {
  @extend .galaxy;
  display: flex;
  color: white;
  text-align: left;
}
.mass-results-container rect {
  fill: white;
}
.mass-results-container svg {
  width: 100%;
}
.mass-results-container  .svg-text { 
  font: italic 40px "Star Wars Galaxy"; fill: red;
} 

