.svg-lines-container .cls-1 {
  stroke:#A7BFE9;
  stroke-width:2;
  stroke-dasharray:2, 10, 2, 12, 3, 17, 7, 5, 6, 1, 10,  8;
  animation: moveUp2 infinite 20s linear;
}

.svg-lines-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.svg-lines-container .cls-2 {
  stroke:rgb(255, 42, 42);
  stroke-width:4;
  stroke-dasharray:0, 14, 6, 5, 7, 17, 3, 12, 2, 10,  2;
  animation: moveUp infinite 20s linear;
}

@keyframes moveUp {
  0% { transform: translateY(0) }
  50% { transform: translateY(-500px) }
  100% { transform: translateY(0) }
}

@keyframes moveUp2 {
  0% { transform: translateY(0) }
  60% { transform: translateY(-400px) }
  100% { transform: translateY(0) }
}