@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";
$gap: 1%;

svg.star {
    width: 35%;
    position: absolute;
    top: 0px;
    right: 10px;
    fill: red;
    transform: rotate(16deg);

    text {
        font-size: 3px;
        color: black;
        fill: white;
    }
}
.wp-product {

    .product {
        display: flex;
        flex-direction: column;
        gap: 20px 5px;

        &-container {
            position: relative;
            border: 1px solid grey;
            padding: 10px;
            flex: 1 1 auto;
            @extend .col-12;
            @extend .col-sm-12;
            @extend .col-md-6;
            @extend .col-lg-3;
        }
        &-main {
            display: flex;
            @extend .col-12;
        }
        &-header {
            display: flex;

            &-details {
            }
        }
        &-title-holder {
        }
        &-sku {
        }
        &-description-holder {
        }
        &-link-holder {
            margin: 10px 0px;

            a {
                border: 1px solid grey;
                padding: 5px;
                background-color: green;
                transition: background-color 0.5s ease;
                color: white;
                font-size: 0.7rem;

                &:hover {
                    background-color: grey;
                    cursor: pointer;
                    color: white;
                }
            }
        }
        &-colours-holder {
        }
    }
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
  
    .product {

        &-container {
        }
       
        &-image-container {
        }
        &-image-holder{
            
        }
        &-details {
            .option-holder {
                display: flex;
                
                .title-holder {
                    flex: 1;
                    font-weight: bold;
                }
                .colour-options-holder {
                    flex: 1;
                }
                .memory-options-holder {
                    flex: 1;
                }
            }
        }
        &-title-holder {
            border: 1px solid gray;
           
        }
        
        &-sku {
            
        }
    }
}

@include media-breakpoint-up(sm) { 
 
}
@include media-breakpoint-up(md) { 
    
}
@include media-breakpoint-up(lg) { 
    
}
@include media-breakpoint-up(xl) {  

}