@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


.wp-products {

    &-container {

        .products {
            padding: 10px;
           

            &-container {
                display: flex;
                flex-direction: column;
                @extend .col-4;

                &:hover {
                    background-color: white;
                    cursor: initial;
                }
            }

            &-image-container{

            }
            &-image-holder {

            }
            &-title-holder {

            }
            &-description-holder {
                flex-grow: 1;
            }
            &-link-holder {
                margin: 10px 0px;

                a {
                    border: 1px solid grey;
                    padding: 5px;
                    background-color: green;
                    transition: background-color 0.5s ease;
                    color: white;

                    &:hover {
                        background-color: grey;
                        cursor: pointer;
                        color: white;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-up(sm) { 
  
}
@include media-breakpoint-up(md) { 
   
}
@include media-breakpoint-up(lg) { 

}
@include media-breakpoint-up(xl) {  

}