
// My Bootstrap configuration
// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";
.collapse {
  display: none;
  -webkit-transition: width 2s; /* Safari */
  transition: display 2s;
}
.collapse.show {
  display: flex;
}
.nav-container {
  @extend .container;
}
.dropdown-toggle:hover~.show{
      display:flex;  
}
nav {
  display: flex;
  flex-direction: column;

  .navbar-nav {
    display: flex;

    li {
      list-style-type: none;

        ul {


          li {

          }
        }
    }
    .dropdown-menu {


      &.show {
        
      }
      
    }
  }
}
.divider {
  display: none;
}
@include media-breakpoint-up(sm) { 
  .collapse {
    display: none;
  }
  .collapse.show {
    display: flex;
  }

  nav {

  
    .navbar-nav {
      flex-direction: column;

  
      li {

  
          ul {
  
  
            li {

  
            }
          }
      }
      .dropdown-menu {

  
        &.show {
          display: flex;
          flex-direction: column;
        }
        
      }
    }
  }
 }
@include media-breakpoint-up(md) { 
  .divider {
    display: flex;
  }
  nav {

  
    .navbar-nav {
      flex-direction: row;

  
      li {

  
          ul {
  
  
            li {

  
            }
          }
      }
      .dropdown-menu {
        width: 100%;

        &.show {
          position: absolute;
          flex-direction: row;
        }
        
      }
    }
  }
 }
@include media-breakpoint-up(lg) {  
  .collapse {
    display: flex;
  }
  .collapse.show {
    display: flex;
  }
  nav {

  
    .navbar-nav {

      

  
      li {

  
          ul {
  
  
            li {

  
            }
          }
      }
      .dropdown-menu {
 
        &.show {

        }
        
      }
    }
  }
}
@include media-breakpoint-up(xl) { 
  nav {

  
    .navbar-nav {
  
      li {

  
          ul {
  
  
            li {

  
            }
          }
      }
      .dropdown-menu {
 
        &.show {

        }
        
      }
    }
  }
}
