@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(45deg)}
}

@keyframes color {
  from {stroke: white}
  to {stroke: darken( theme-color("success"), 10% ) }
}

@keyframes stroke {
  0% {stroke-width: 20}
  50% {stroke-width: 10}
  100% {stroke-width: 20}
}