.blender {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .area-container {
    @extend .col-12;
    @extend .col-md-6;
    @extend .col-lg-4;

    display: flex;
    align-content: space-between;
    flex-direction: column;
    height: auto;
  }

  .main-container {
    &:hover {
      cursor: pointer;
    }
  }

  .final-image {
    @extend .col-12;
    @extend .col-md-12;
    @extend .col-lg-12;
  }

  .title-container {
    @extend .col;

    background-image: url("../../images/blender/spaceship-2019/SPACESHIP2019-3-smoke.png");
    height: 250px;
    background-size: cover;
    background-position: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
