.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  max-width: 1280px;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  svg {
    width: 100%;
    height: auto;
  
    line {
      stroke: theme-color("secondary");
      stroke-width: 20;
    }
  
    &:hover {
      line {
        animation-name: color, stroke;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
      }
    }
  }
}

.show {
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.hide {
  display: none;
}

.close-holder {
  width: 50px;
  height: 50px;
}

