#enter {
  fill:none;
  stroke:rgba(0,0,0,0.5);
  transition-property: fill;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.btn-circ-1{
  fill:none;
}
.btn-circ-2,.btn-circ-3,.btn-circ-4,.btn-circ-5 {
  fill:none;
  stroke:rgba(0,0,0,0.5);
  stroke-miterlimit:10;
  transform: rotate(0deg);
  transition-property: transform, stroke;
  transform-origin: 50% 50%;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.btn-circ-2{stroke-width:12px;stroke-dasharray:12.73 212.1 26.51 12.73 212.1 26.51;}
.btn-circ-3{stroke-width:28px;stroke-dasharray:11.24 187.35 23.42 11.24 187.35 23.42;}
.btn-circ-4,.btn-circ-5{stroke-width:33px;}
.btn-circ-4{stroke-dasharray:10.08 146.96 20.99 10.08 146.96 20.99;}
.btn-circ-5{stroke-dasharray:9.81 96.47 20.44 9.81 96.47 20.44;fill:white;}
