@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";

// @import "partials/animations";

@import "../partials/variables";

.home {
  
  &-welcome {
    padding: 50px;
  }
  &-nav {
    display: flex;
    flex-direction: column;

    &-item {
      @extend .col-12;
      @extend .col-sm-12;
      @extend .col-md-6;
      @extend .col-lg-6;
      @extend .col-xl-6;
      
      display: flex;
      height: 200px;
      position: relative;
      overflow: hidden;
      background-color: theme-color('black');

      &:hover {
        .home-nav-item-slide {
          left: 0%;    
        }

        .home-nav-item-img {
          img {
            height: 220px;
          }
        }
      }

      &-slide {
        @extend .col-12;
        display: flex;
        position: absolute;
        left: 100%;
        top: 0;
        height: 200px;
        background-color:  rgba(255,255,255,0.5);
        transition-property: left;
        transition-duration: 1s;
        transition-timing-function: ease-out;   
      }

      &-desc {
        display: flex;
        align-items: center;
        flex: 1;

        p {
          background-color:  rgba(255,255,255,0.7);
          border: 1px solid white;
          padding: 10px;
          width: 100%;
        }
      }

      &-img {
        @extend .col-12;
        overflow: hidden;
        height: 200px;
        display: flex;
        justify-content: center;
        align-self: center;

        img {
          width: auto;
          align-self: center;
          height: 150px;
          transition-property: height;
          transition-duration: 1s;
          transition-timing-function: ease-out;   
        }
      }

      &-btn {
        @extend .col-4;
        display: flex;
        align-items: center;

        a {
          border-radius: 50%;
          background-color: rgba(255,255,255,0.5);
          padding: 4px;
          box-shadow: 0px 0px 5px black;
          border: solid white 5px;
          transition-property: background-color;
          transition-duration: 0.4s;
          transition-timing-function: ease-out;   
        }
        a:hover {
          background-color: rgba(255,255,255,1);
          #enter {
            fill: green;
            transition-property: fill;
            transition-duration: 1s;
            transition-timing-function: ease-out;   
          }

          .btn-circ-3,.btn-circ-5 {
            transform: rotate(180deg);
            stroke:rgba(255, 163, 88, 1);
            transition-property: transform, stroke;
            transition-duration: 1s;
            transition-timing-function: ease-out;   
          }
          .btn-circ-2, .btn-circ-4 {
            transform: rotate(-180deg);
            stroke: rgba(125, 125, 125, 1);
            transition-property: transform, stroke;
            transition-duration: 1s;
            transition-timing-function: ease-out;   
          }
        }
      }
    }
  }
}


@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) { 
  .home {
    &-nav {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
 }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }
