@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";

$gap: 1%;

p{
  margin: 0px;
}
a{
  color: grey;
  
  &:hover {
    color: black;
    text-decoration: none,
  }
}

img {
  width: 100%;
}
.all-products{
  &-wrapper {
   
  }
  &-container {
  }
}

.product {
  margin-bottom: 20px;
  &-header {
    @extend .col-12;
  }
  &-title-holder {
    padding: 20px;
  }
  &-description-holder {
    padding: 20px;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  @extend .col-12;
  justify-content: space-evenly;

  &-container {
    flex: 0 0 calc(100% - #{$gap});
    border: 1px solid grey;
    padding: 20px;
    background-color: white;
    transition: background-color 0.5s ease;


    &:hover {
      background-color: grey;
      cursor: pointer;
    }
  }
  &-title-holder {

  }
  &-details-container {

  }
  &-products-options-holder {

  }
  &-price-holder {

  }
  &-price {
    padding: 10px;
    font-size: 1.5rem;
  }
  .option-holder {
    display: flex;

    .title-holder {
      background-color: grey;
      color: white;
      flex: 1;
    }
    .memory-options-holder {
      flex: 1;
      border: 1px solid grey;
    }
    .colour-options-holder {
      flex: 1;
      border: 1px solid grey;
    }
  }
}

@include media-breakpoint-up(sm) { 
  .products {
  
    &-container {
      flex: 0 0 calc(48% - #{$gap});
    }
    &-title-holder {
  
    }
    &-details-container {
  
    }
    &-products-options-holder {
  
    }
    &-price-holder {
  
    }
  }
}
@include media-breakpoint-up(md) { 
  .products {

  
    &-container {
      flex: 0 0 calc(33% - #{$gap});

    }
    &-title-holder {
  
    }
    &-details-container {
  
    }
    &-products-options-holder {
  
    }
    &-price-holder {
  
    }
  }
}
@include media-breakpoint-up(lg) { 
  .products {


    &-container {
      flex: 1;
    }
    &-title-holder {
  
    }
    &-details-container {
  
    }
    &-products-options-holder {
  
    }
    &-price-holder {
  
    }
  }
}
@include media-breakpoint-up(xl) {  

}