.leftbar-container  {
}
.leftbar-container svg {
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.leftbar-container  .cls-1 {
  min-height: 100vh;
  width: auto;
  fill: none;
  stroke: rgba(255,0,0,1);
  stroke-width: 3px;
  opacity: 50%;

}

.leftbar-container  .cls-2 {
  min-height: 100vh;
  width: auto;
  fill: rgba(255,0,0,0.5);
}
.leftbar-container  .cls-3 {
  stroke:rgb(255,255,255);
  stroke-width:2;
  stroke-dasharray:2, 10 ;
}
.leftbar-container  .cls-4 {
  fill:rgba(255,0,0,1);
}
.leftbar-container .polygon {
  stroke:rgba(255,0,0,1);
  stroke-width:2;
  fill:rgba(255,0,0,0.25);
}