// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
// @import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


@import "_Starwars-api.scss";
@import "_Starwars-api-results.scss";
@import "_Starwars-sidebar-left.scss";
@import "./partials/_Starwars-circle-light.scss";
@import "./partials/_Starwars-clock.scss";
@import "./partials/_Starwars-eye-colour.scss";
@import "./partials/_Starwars-feed.scss";
@import "./partials/_Starwars-height.scss";
@import "./partials/_Starwars-mass.scss";
@import "./partials/_Starwars-random-letters.scss";
@import "./partials/_Starwars-select-lang.scss";
@import "./partials/_Starwars-skin-colour.scss";
@import "./partials/_Starwars-svg-lines.scss";

.people-results-container {
  min-height: 50px;
}
.people-results-container p {
  @extend .galaxy;
  color: white;
  margin: 0px;
  padding: 15px;
}

.people-results-container p:nth-of-type(1) {
  color: rgba(255,0,0,1);
} 
.search-form {
  width: 100%; 
  min-height: 20vh;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(255,0,0,1);
  background: #000000;
}
.search-container {
  margin-top: 2vh;
}
.bottom-main-container {
}
.submit-button {
  background: #000000;
  border: 1px solid rgba(255,0,0,1);
  color: white;
  transition: background 0.5s;
  background-repeat: no-repeat;
}
.submit-button:hover {
  background: #A7BFE9;
  background-repeat: no-repeat;
  cursor: pointer;
}

.light-board {
  padding: 10px;
  background-color: rgba(255,0,0,0.25);
}
.colors-container {
  border: solid 1px rgba(255,0,0,1);
  min-height: 75px;
  padding: 25px;
  background-color: rgba(255,255,255,0.2);
}
.area-title {
  font: italic 20px "Star Wars Galaxy"; color: #000;
  text-align: center;
}

@media only screen and (min-width: 576px) { }

@media only screen and (min-width: 768px) {
  .people-results-container {
    width: 70%;
  }
  .search-form {
    margin: 0px 0px;
    padding: 20px;
    min-height: auto;
  }
  .centre-main-content-holder {
    margin-top: 2vh;
  }
 }

@media only screen and (min-width: 992px) {
 
  .colors-container {
    padding: 10px;
    margin: 0px 0px;
    height: 38%;
  }
  .search-container {
    width: 200px;
  }
  .centre-main-content-holder {
    padding-left: 0px !important;
  }
  .area-title {
    height: 65px;
  }
}
@media only screen and (min-width: 1200px) {
  .centre-main-content-holder {
    height: 69vh;
  }
 
}

@media only screen and (min-width: 1500px) {
  .area-title {
    height: auto;
  }
}