@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes rotate360Stop {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(3600deg);
  }
}