.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col, .formula-one-container .no-gutters > .race-results-container,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .formula-one-container .races-header, .formula-one-container .races-container, .col, .formula-one-container .race-results-container,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col, .formula-one-container .race-results-container {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12, .formula-one-container .races-header, .formula-one-container .races-container {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    order: -1; }
  .order-sm-last {
    order: 13; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    order: -1; }
  .order-md-last {
    order: 13; }
  .order-md-0 {
    order: 0; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; }
  .order-md-6 {
    order: 6; }
  .order-md-7 {
    order: 7; }
  .order-md-8 {
    order: 8; }
  .order-md-9 {
    order: 9; }
  .order-md-10 {
    order: 10; }
  .order-md-11 {
    order: 11; }
  .order-md-12 {
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    order: -1; }
  .order-lg-last {
    order: 13; }
  .order-lg-0 {
    order: 0; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
  .order-lg-3 {
    order: 3; }
  .order-lg-4 {
    order: 4; }
  .order-lg-5 {
    order: 5; }
  .order-lg-6 {
    order: 6; }
  .order-lg-7 {
    order: 7; }
  .order-lg-8 {
    order: 8; }
  .order-lg-9 {
    order: 9; }
  .order-lg-10 {
    order: 10; }
  .order-lg-11 {
    order: 11; }
  .order-lg-12 {
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    order: -1; }
  .order-xl-last {
    order: 13; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative; }

.dropdown-toggle {
  white-space: nowrap; }
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent; }
  .dropdown-toggle:empty::after {
    margin-left: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }

.dropdown-menu-left {
  right: auto;
  left: 0; }

.dropdown-menu-right {
  right: 0;
  left: auto; }

@media (min-width: 576px) {
  .dropdown-menu-sm-left {
    right: auto;
    left: 0; }
  .dropdown-menu-sm-right {
    right: 0;
    left: auto; } }

@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0; }
  .dropdown-menu-md-right {
    right: 0;
    left: auto; } }

@media (min-width: 992px) {
  .dropdown-menu-lg-left {
    right: auto;
    left: 0; }
  .dropdown-menu-lg-right {
    right: 0;
    left: auto; } }

@media (min-width: 1200px) {
  .dropdown-menu-xl-left {
    right: auto;
    left: 0; }
  .dropdown-menu-xl-right {
    right: 0;
    left: auto; } }

.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem; }

.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent; }

.dropup .dropdown-toggle:empty::after {
  margin-left: 0; }

.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem; }

.dropright .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid; }

.dropright .dropdown-toggle:empty::after {
  margin-left: 0; }

.dropright .dropdown-toggle::after {
  vertical-align: 0; }

.dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem; }

.dropleft .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: ""; }

.dropleft .dropdown-toggle::after {
  display: none; }

.dropleft .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent; }

.dropleft .dropdown-toggle:empty::after {
  margin-left: 0; }

.dropleft .dropdown-toggle::before {
  vertical-align: 0; }

.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto; }

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef; }

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0; }
  .dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa; }
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff; }
  .dropdown-item.disabled, .dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent; }

.dropdown-menu.show {
  display: block; }

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap; }

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #212529; }

#numberPlate {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1; }
  #numberPlate .st1 {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10; }

.trophy {
  position: absolute;
  width: 75px;
  height: 95px;
  top: -10px;
  left: 10px;
  transform: rotate(-20deg);
  background: url(../../images/formula-one-api/square-chequered.svg) center center fixed;
  background-size: 750px;
  border-radius: 10%;
  border: 1px solid black; }
  .trophy path {
    filter: drop-shadow(-12px 12px 1px rgba(0, 0, 0, 0.5)); }

#gold-trophy {
  fill: gold; }

#silver-trophy {
  fill: silver; }

#bronze-trophy {
  fill: brown; }

.formula-one-container {
  width: 90%;
  margin: 0 auto; }
  .formula-one-container .App-header {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), url(../../images/formula-one-api/square-chequered.svg);
    /* W3C */
    background-size: 500px;
    font-size: 30px;
    font-weight: 700;
    color: lightblue; }
    .formula-one-container .App-header p {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  .formula-one-container form [type="submit"] {
    background: url(../../images/formula-one-api/square-chequered.svg) center center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../../images/formula-one-api/square-chequered.svg);
    /* W3C */
    border: 1px solid black;
    background-size: 100px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 18px; }
  .formula-one-container .driver {
    display: flex;
    flex-direction: column; }
    .formula-one-container .driver-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-around; }
    .formula-one-container .driver-container {
      display: flex;
      flex-direction: column;
      border: 1px solid grey;
      padding: 10px; }
    .formula-one-container .driver-name {
      flex: 1; }
      .formula-one-container .driver-name p {
        font-weight: 600; }
    .formula-one-container .driver-details {
      display: flex;
      flex-direction: column; }
    .formula-one-container .driver-number-wrapper {
      position: relative; }
    .formula-one-container .driver-number {
      display: flex;
      align-content: center;
      justify-content: center;
      position: relative;
      height: 110px;
      width: 110px;
      margin: 0 auto;
      border: 2px solid black;
      border-radius: 10px; }
      .formula-one-container .driver-number p {
        align-self: center;
        justify-self: center;
        font-size: 60px;
        font-weight: 700;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
    .formula-one-container .driver-number-shadow {
      color: lightblue;
      top: 0px;
      left: calc(auto + 3px);
      right: auto;
      position: absolute; }
    .formula-one-container .driver-grid-container, .formula-one-container .driver-points-container {
      display: flex; }
      .formula-one-container .driver-grid-container p, .formula-one-container .driver-points-container p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1; }
    .formula-one-container .driver-points-container {
      margin: 5px 0px; }
      .formula-one-container .driver-points-container p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1; }
  .formula-one-container .circuit {
    display: flex;
    flex-direction: column; }
    .formula-one-container .circuit-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
    .formula-one-container .circuit-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 5px; }
    .formula-one-container .circuit-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-evenly;
      border: 1px solid grey; }
  .formula-one-container .constructor {
    display: flex;
    flex-direction: column; }
    .formula-one-container .constructor-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
    .formula-one-container .constructor-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 5px; }
    .formula-one-container .constructor-container {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-evenly;
      border: 1px solid grey; }
  .formula-one-container .races {
    display: flex;
    flex-direction: column; }
    .formula-one-container .races-name {
      color: white;
      text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
      background: rgba(0, 0, 0, 0.5); }
      .formula-one-container .races-name b {
        font-size: 25px; }
      .formula-one-container .races-name span {
        font-size: 20px;
        font-weight: 700; }
    .formula-one-container .races-wrapper {
      display: flex; }
    .formula-one-container .races-container {
      margin-bottom: 10px; }
      .formula-one-container .races-container .races-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 270px;
        background: url(../../images/formula-one-api/square-chequered.svg) center center fixed;
        border: 5px solid black;
        background-size: 700px;
        margin-bottom: 10px; }
        .formula-one-container .races-container .races-header a {
          color: white;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
    .formula-one-container .races-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
    .formula-one-container .races-results-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
    .formula-one-container .races .driver-details {
      padding: 80px 20% 10px 20%;
      background: url(../../images/formula-one-api/gridplaceline.svg) no-repeat;
      /* W3C */
      background-color: rgba(0, 0, 0, 0.5);
      color: white; }
    .formula-one-container .races .driver-number {
      border: 2px solid white; }
    .formula-one-container .races .driver-laps {
      display: flex;
      flex: 1;
      justify-content: center; }
      .formula-one-container .races .driver-laps p {
        display: flex;
        align-self: center;
        color: white; }
      .formula-one-container .races .driver-laps-container {
        display: flex;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px; }
      .formula-one-container .races .driver-laps-number {
        border: 1px solid white;
        flex: 1; }
    .formula-one-container .races .driver-status {
      display: flex;
      flex: 1;
      justify-content: center; }
      .formula-one-container .races .driver-status p {
        display: flex;
        align-self: center;
        color: white; }
      .formula-one-container .races .driver-status-container {
        display: flex;
        padding: 10px;
        background: rgba(0, 0, 0, 0.5); }
      .formula-one-container .races .driver-status-number {
        display: flex;
        flex: 1;
        border: 1px solid white; }
    .formula-one-container .races .driver-number-wrapper .driver-number {
      background: white;
      box-shadow: black 2px 5px 0px;
      transform: rotate(20deg);
      position: absolute;
      top: -10px;
      right: -20px;
      width: 125px;
      height: 75px;
      background: url(../../images/formula-one-api/square-chequered.svg) center center fixed;
      background-size: 500px; }
      .formula-one-container .races .driver-number-wrapper .driver-number p {
        font-size: 60px;
        top: -13px; }
      .formula-one-container .races .driver-number-wrapper .driver-number-shadow {
        top: 2px;
        color: red; }
    .formula-one-container .races .driver-grid-container, .formula-one-container .races .driver-points-container {
      display: flex;
      margin: 5px 0px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5); }
      .formula-one-container .races .driver-grid-container .driver-grid, .formula-one-container .races .driver-points-container .driver-grid {
        display: flex;
        flex: 1;
        text-align: right;
        font-size: 20px;
        color: white; }
      .formula-one-container .races .driver-grid-container .driver-grid-number, .formula-one-container .races .driver-points-container .driver-grid-number {
        display: flex;
        flex: 1; }
        .formula-one-container .races .driver-grid-container .driver-grid-number p, .formula-one-container .races .driver-points-container .driver-grid-number p {
          display: initial;
          font-size: 40px;
          justify-self: center;
          flex: 1;
          font-weight: 700;
          color: white;
          text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black; }
        .formula-one-container .races .driver-grid-container .driver-grid-number-shadow, .formula-one-container .races .driver-points-container .driver-grid-number-shadow {
          top: 5px;
          color: red; }
      .formula-one-container .races .driver-grid-container .driver-points, .formula-one-container .races .driver-points-container .driver-points {
        display: flex;
        flex: 1;
        text-align: right;
        font-size: 20px;
        color: white; }
      .formula-one-container .races .driver-grid-container .driver-points-number, .formula-one-container .races .driver-points-container .driver-points-number {
        display: flex;
        flex: 1;
        background: #ffffff;
        background-image: url(../../images/formula-one-api/square-chequered.svg);
        /* fallback */
        background-image: linear-gradient(#000, rgba(11, 138, 60, 0.5), rgba(11, 138, 60, 0.5), #000), url(../../images/formula-one-api/square-chequered.svg);
        /* W3C */
        background-size: 500px; }
        .formula-one-container .races .driver-grid-container .driver-points-number p, .formula-one-container .races .driver-points-container .driver-points-number p {
          display: initial;
          font-size: 40px;
          justify-self: center;
          flex: 1;
          font-weight: 700;
          color: white;
          text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black; }
        .formula-one-container .races .driver-grid-container .driver-points-number-shadow, .formula-one-container .races .driver-points-container .driver-points-number-shadow {
          top: 5px;
          color: red; }
    .formula-one-container .races .driver-grid-position {
      display: flex; }
    .formula-one-container .races .driver-grid-number {
      display: flex;
      flex: 1;
      background: #ffffff;
      background-image: url(../../images/formula-one-api/square-chequered.svg);
      /* fallback */
      background-image: linear-gradient(#000, rgba(11, 138, 60, 0.5), rgba(11, 138, 60, 0.5), #000), url(../../images/formula-one-api/square-chequered.svg);
      /* W3C */
      background-size: 500px;
      border: 1px solid white; }
      .formula-one-container .races .driver-grid-number p {
        font-size: 40px; }
      .formula-one-container .races .driver-grid-number-shadow {
        top: 2px;
        color: red; }
  .formula-one-container .race-results {
    border: 5px solid lightblue;
    margin-bottom: 10px;
    background: white;
    background-image: url(../../images/formula-one-api/f1carabove.svg);
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 85%;
    width: calc(100% - 5px); }
    .formula-one-container .race-results-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 5px; }
    .formula-one-container .race-results .driver-number {
      border-radius: 50%;
      height: 40px;
      width: 40px; }
      .formula-one-container .race-results .driver-number p {
        font-size: 25px; }
      .formula-one-container .race-results .driver-number-shadow {
        top: -3px; }
  .formula-one-container .result-number {
    background: #ffffff;
    background-image: url(../../images/formula-one-api/square-chequered.svg);
    /* fallback */
    background-image: linear-gradient(#000, rgba(11, 138, 60, 0.5), rgba(11, 138, 60, 0.5), #000), url(../../images/formula-one-api/square-chequered.svg);
    /* W3C */
    background-size: 500px;
    justify-content: center;
    flex: 1;
    font-weight: 700;
    font-size: 25px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 5px 0px;
    border: 1px solid white; }

@media (min-width: 576px) {
  .formula-one-container {
    width: 90%; }
    .formula-one-container .race-results {
      width: calc(100% - 5px); } }

@media (min-width: 768px) {
  .formula-one-container {
    width: 90%; }
    .formula-one-container .race-results {
      width: calc(50% - 5px); } }

@media (min-width: 992px) {
  .formula-one-container {
    width: 90%; }
    .formula-one-container .race-results {
      width: calc(33% - 5px); } }

@media (min-width: 1200px) {
  .formula-one-container {
    width: 90%;
    max-width: 1440px; }
    .formula-one-container .race-results {
      width: calc(33% - 5px); } }
