@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";

#numberPlate {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    
    .st1{fill:#ffffff; stroke:#000000;stroke-width:10;stroke-miterlimit:10;}
}

.trophy {
    position: absolute;
    width: 75px;
    height: 95px;
    top: -10px;
    left: 10px;
    transform: rotate(-20deg);
    background:  url(../../images/formula-one-api/square-chequered.svg) center center fixed; 
    background-size: 750px;
    border-radius: 10%;
    border: 1px solid black;
    path {
        filter: drop-shadow(-12px 12px 1px rgba(0,0,0,0.5));  
    }
}
#gold-trophy {
    fill: gold;
}
#silver-trophy {
    fill: silver;
}
#bronze-trophy {
    fill: brown;
}

.formula-one-container {
    width: 90%;
    margin: 0 auto;
    .App-header {
        background:  linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0)), url(../../images/formula-one-api/square-chequered.svg), ; /* W3C */
        background-size: 500px;
        font-size: 30px;
        font-weight: 700;
        color: lightblue;

        p {
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
    }

    form {
        [type="submit"] {
            background:  url(../../images/formula-one-api/square-chequered.svg) center center; 
            background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../../images/formula-one-api/square-chequered.svg), ; /* W3C */
            border: 1px solid black;
            background-size: 100px;
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            font-size: 18px
        }
    }

    .driver {
        display: flex;
        flex-direction: column;
        &-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-around;
        }
        &-container {
            display: flex;
            flex-direction: column;
            border: 1px solid grey;
            padding: 10px;
        }
        &-name {
            flex:   1;
            p {
                font-weight: 600;
            }
        }
        &-details {
            display: flex;
            flex-direction: column;
        }
        &-number-wrapper {
            position: relative;

           
        }
        &-number {
            display: flex;
            align-content: center;
            justify-content: center;
            position: relative;
            height: 110px;
            width: 110px;
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;

            p {
                align-self: center;
                justify-self: center;
                font-size: 60px;
                font-weight: 700;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }
        }
        &-number-shadow {
            color: lightblue;
            top: 0px;
            left: calc(auto + 3px);
            right: auto;
            position: absolute;
        }
        &-grid-container {
            display: flex;

            p {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
            }
        }
        &-points-container {
            @extend .driver-grid-container;
            margin: 5px 0px;

            p {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
            }
        }
    }

    .circuit {
        display: flex;
        flex-direction: column;

        &-header {

        }
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        &-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap:5px;
        }

        &-container {           
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: space-evenly;
            border: 1px solid grey;
        }
    }
    .constructor {
        display: flex;
        flex-direction: column;
    
        &-header {
    
        }
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        &-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap:5px;
        }
    
        &-container {           
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: space-evenly;
            border: 1px solid grey;

        }
    }
    .races {
        display: flex;
        flex-direction: column;

        &-name {
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            background: rgba(0,0,0,0.5);

            b{
                font-size: 25px;
            }
            span {
                font-size: 20px;
                font-weight: 700;
            }
        }
    
        &-header {
            @extend .col-12;
           
        }
        &-wrapper {
            display: flex;
        }
        &-container {      
            @extend .col-12;
            margin-bottom: 10px;

            .races-header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                height: 270px;
                background:  url(../../images/formula-one-api/square-chequered.svg) center center fixed; 
                border: 5px solid black;
                background-size: 700px;
                margin-bottom: 10px;

                a {
                    color: white;
                    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                }
            }
        }
        &-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
           
            
        }
        &-results-container {       
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
        }
        .driver {
            &-details {
                padding: 80px 20% 10px 20%;
                background:  url(../../images/formula-one-api/gridplaceline.svg) no-repeat; /* W3C */
                background-color: rgba(0,0,0,0.5);
                color: white;
            }
            &-number {
                border: 2px solid white;
            }
            &-laps {
                display: flex;
                flex: 1;
                justify-content: center;
                p {
                    display: flex;
                    align-self: center;
                    color: white;
                }
                &-container {
                    display: flex;
                    background: rgba(0,0,0,0.5);
                    padding: 10px;
                }
                &-number {
                    border: 1px solid white;
                    flex: 1;
                }
            }
            &-status {
                display: flex;
                flex: 1;
                justify-content: center;
                p {
                    display: flex;
                    align-self: center;
                    color: white;
                }
                &-container {
                    display: flex;
                    padding: 10px;
                    background: rgba(0,0,0,0.5);
                }
                &-number {
                    display: flex;
                    flex: 1;
                    border: 1px solid white;
                }
            }
        }
        .driver-number-wrapper {

            .driver-number {
                background: white;
                box-shadow: black 2px 5px 0px;
                transform: rotate(20deg);
                position: absolute;
                top: -10px;
                right: -20px;
                width: 125px;
                height: 75px;
                background:  url(../../images/formula-one-api/square-chequered.svg) center center fixed; 
                background-size: 500px;
               
                
                p {
                    font-size: 60px;
                    top: -13px;
                   
                }

                &-shadow {
                    top: 2px;
                    color: red;
                }
            }
        }
        .driver-grid {
                
            &-container {
                display: flex;
                margin: 5px 0px;
                padding: 10px;
                background-color: rgba(0,0,0,0.5);

                .driver-grid {
                    display: flex;
                    flex: 1;
                    text-align: right;
                    font-size: 20px;
                    color: white;
                }
                .driver-grid-number {
                    display: flex;
                    flex: 1;
                   

                    p {
                        display: initial;
                        font-size: 40px;
                        justify-self: center;
                        flex:   1;
                        font-weight: 700;
                        color: white;
                        text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
                    }
    
                    &-shadow {
                        top: 5px;
                        color: red;
                    }
                }
                .driver-points {
                    display: flex;
                    flex: 1;
                    text-align: right;
                    font-size: 20px;
                    color: white;
                }
                .driver-points-number {
                    display: flex;
                    flex: 1;
                    background: #ffffff;
                    background-image: url(../../images/formula-one-api/square-chequered.svg); /* fallback */
                    background-image: linear-gradient(#000, rgba(11, 138, 60, 0.5), rgba(11, 138, 60,0.5),#000), url(../../images/formula-one-api/square-chequered.svg), ; /* W3C */
                    background-size: 500px;

                    p {
                        display: initial;
                        font-size: 40px;
                        justify-self: center;
                        flex:   1;
                        font-weight: 700;
                        color: white;
                        text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
                    }
    
                    &-shadow {
                        top: 5px;
                        color: red;
                    }
                }
            }
            &-position {
                display: flex;
                
            }
            &-number {
                display: flex;
                flex: 1;
                background: #ffffff;
                background-image: url(../../images/formula-one-api/square-chequered.svg); /* fallback */
                background-image: linear-gradient(#000, rgba(11, 138, 60, 0.5), rgba(11, 138, 60,0.5),#000), url(../../images/formula-one-api/square-chequered.svg), ; /* W3C */
                background-size: 500px;
                border: 1px solid white;
                
                p {
                    font-size: 40px;
                   
                }

                &-shadow {
                    top: 2px;
                    color: red;
                    
                }
            }
           
        }
    }
    .race {
        &-results {
            border: 5px solid lightblue;
            margin-bottom: 10px;
            background: white;
            background-image:  url(../../images/formula-one-api/f1carabove.svg); 
            background-repeat: no-repeat;
            background-position: center 30px;
            background-size: 85%;
            width: calc(100% - 5px);

            &-container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                @extend .col;
                gap: 5px;
            }

            .driver {
                &-details {

                }
                &-number {
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;

                    p {
                        font-size: 25px;
                    }

                    &-shadow {
                        top: -3px
                    }
                }
            }
        }
    }
    .result-number {
        background: #ffffff;
        background-image: url(../../images/formula-one-api/square-chequered.svg); /* fallback */
        background-image: linear-gradient(#000, rgba(11, 138, 60, 0.5), rgba(11, 138, 60,0.5),#000), url(../../images/formula-one-api/square-chequered.svg), ; /* W3C */
        background-size: 500px;
        justify-content: center;
        flex:   1;
        font-weight: 700;
        font-size: 25px;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        margin: 5px 0px;
        border: 1px solid white;
    }
}


@include media-breakpoint-up(sm) { 
    .formula-one-container {
        width: 90%;

        .race {
            &-results {
                width: calc(100% - 5px);
            }
        }
    }
}
@include media-breakpoint-up(md) { 
    .formula-one-container {
        width: 90%;
        .race {
            &-results {
                width: calc(50% - 5px);
            }
        }
    }
}
@include media-breakpoint-up(lg) { 
    .formula-one-container {
        width: 90%;
        .race {
            &-results {
                width: calc(33% - 5px);
            }
        }
    }
}
@include media-breakpoint-up(xl) {  
    .formula-one-container {
        width: 90%;
        max-width: 1440px;
        .race {
            &-results {
                width: calc(33% - 5px);
            }
        }
    }
}