// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
// @import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";
@import "./animations/_animations.scss";
@import "./formula-one-api.scss";

svg {

    &:nth-of-type(1n) {
        rect {
            fill: grey;
        }
    }
}

svg {

    &:nth-of-type(1n) {
        rect {
            fill: grey;
        }
    }
    &:nth-of-type(2n) {
        rect {
            fill: orange;
        }
    }
    &:nth-of-type(3n) {
        rect {
            fill: blue;
        }
    }
    &:nth-of-type(4n) {
        rect {
            fill: darkred + green;
        }
    }
    &:nth-of-type(5n) {
        rect {
            fill: darkred + orange;
        }
    }
    &:nth-of-type(6n) {
        rect {
            fill: darkred + blue;
        }
    }
}
    
.formula-one-driver-stats {
    .driver-stats {
        display: flex;
        justify-content: center;
        background: black;
        padding: 40px;
        
        .loader-container {
            width: 150px;
            height: 150px;
            -webkit-animation: rotate360 1s infinite linear; /* Safari 4+ */
            -moz-animation:    rotate360 1s infinite linear; /* Fx 5+ */
            -o-animation:      rotate360 1s infinite linear; /* Opera 12+ */
            animation:         rotate360 1s infinite linear; /* IE 10+, Fx 29+ */
            background: url(../../images/formula-one-api/tyre-green.png);
            background-size: cover;

            &-static {
                width: 150px;
                height: 150px;
                -webkit-animation: rotate360Stop 5s  ease-out; /* Safari 4+ */
                -moz-animation:    rotate360Stop 5s  ease-out; /* Fx 5+ */
                -o-animation:      rotate360Stop 5s  ease-out; /* Opera 12+ */
                animation:         rotate360Stop 5s  ease-out; /* IE 10+, Fx 29+ */
                animation-iteration-count: 1;
                background: url(../../images/formula-one-api/tyre-green.png);
                background-size: cover;
            }
        }
       .charts {
           display: flex;
           flex-direction: column;
       }

        .chart {
            @extend .col-sm-12;
            @extend .col-lg-6;

            .title {
                width: 100%;
                color: white;
                font-size: 40px;
                font-weight: 400;
            }

            &-stats {
                .bar {
                    width: 100%;

                    text {
                        fill: white;
                        font-size: 20px;
                        font-weight: 200;
                    }
                    .count {
                        fill: lightblue;
                        font-size: 40px;
                        font-weight: 700;
                        text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
                    }
                    .finishedFlag {
                        height: 270px;
                        background:  url(../../images/formula-one-api/square-chequered.svg) center center fixed; 
                        border: 5px solid black;
                        background-size: 100px;
                        margin-bottom: 10px;
                    }
                }
            }
        }      
    }
    .graph {
        @extend .col-sm-12;
        @extend .col-lg-6;
       
        .title {
            width: 100%;
            color: white;
            font-size: 40px;
            font-weight: 400;
        }
        &-container {
            display: flex;
            flex-wrap: wrap;
        }
        &-stats {
            @extend .col;
            display: flex;
            flex-direction: column;
            justify-content: space-around;  
            color: white;
            margin: 10px;
            border: 1px solid gray;
            padding: 20px;

            .count {
                fill: lightblue;
                font-size: 40px;
                font-weight: 700;
                text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
            }

            svg {
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
        &-dot {

            circle:nth-of-type(1n) {
                fill: none;
                stroke: #0edae9;
                stroke-width: 2px;
                stroke-dasharray: 4 2;
            }
            circle:nth-of-type(2n) {
                fill: none;
                stroke: white;
                stroke-width: 2px;
                stroke-dasharray: 0;
            }
            circle:nth-of-type(3n) {
                fill: none;
                stroke: #0edae9;
                stroke-width: 2px;
                stroke-dasharray: 0;
            }
            &-count {
                font-size: 12px;
            }
            &-status {
                font-size: 12px;
                
            }
        }
    }
}



@include media-breakpoint-up(sm) { 
    .formula-one-driver-stats {
        .driver-stats {
            .charts {
                flex-direction: column;
            }
        }
    }
}
@include media-breakpoint-up(md) { 
    .formula-one-driver-stats {
        .driver-stats {
            .charts {
                flex-direction: column;
            }
        }
    }
}
@include media-breakpoint-up(lg) { 
    .formula-one-driver-stats {
        .driver-stats {
            .charts {
                flex-direction: row;
            }
        }
    }
}
@include media-breakpoint-up(xl) {  
    .formula-one-driver-stats {
       
    }
}